body {
    font-size: 14pt;
    font-family: "Calibri", "Helvetica", sans-serif;
}

table {
    border-collapse: collapse;
}

tbody tr {
    background: white;
}

tbody tr:hover {
    background: DimGray;
    color: white;
}

th[data-list] ol.list {
    visibility: collapse;
    display: absolute;
    z-index: 100;
    list-style: none;
    font-weight: lighter;
    padding-top: 0;
    margin-top: 0;
    margin-left: 1ex;
}

th[data-list]:hover ol.list  {
    visibility: visible;
}

th[data-list] ol.list li:hover {
    background: dimgray;
    color: white;
}


td {
    border: 1px solid gray;
    text-align: right;
    padding: 0.5ex;
    font-size: inherit;
}

th {
    border: 1px solid gray;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

th.corner {
    border: none;
    background: none;
}

tr.main_head {
    font-style: italic;
}

tr.main_head th {
    background: gray;
    color: white;
}

tr.sub_head {
}



tfoot th select {
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-align: right;
}

input {
    padding: 0;
    padding-right: 1ex;
    border: white 1px solid;
    font-family: inherit;
    font-size: inherit;
    max-width: 4em;
    text-align: right;
}


:invalid {
    background-color: crimson;
    color: white;
}

select {
    padding: 0;
    padding-right: 1ex;
    border: 1px solid dimgray;
    font-family: inherit;
    font-size: inherit;
    text-align: right;
}

span.unit {
    font-size: smaller;
    padding-left: 1ex;
    padding-right: 1ex;
}

span.number {
}

button.action {
    color: inherit;
    padding-right: 2ex;
    padding-left: 2ex;
    background: inherit;
    border: 1px solid lightgray;
}

input:hover,
select:hover,
button:hover {
    border: 1px solid gold;
}

button:disabled {
    opacity: 0.25;
}

button:enabled {
    opacity: 1;
}

button[data-action='remove'] { 
    background: crimson;
    color: white;
}

button.left-separator {
    margin-left: 2ex;
}


:not(:disabled)[data-tooltip]::before {
    content: attr(data-tooltip);
    font-size: smaller;
    z-index: 100;
    padding-right: 1ex;
    padding-left: 1ex;
    background: white;
    color: dimgray;
    position: absolute;
    visibility: hidden;
    opacity:0;

    transition-property: opacity;  
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
    transition-delay: 0.5s;
}

:not(:disabled)[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
}

#graph {
}

.axis {
    font-size: 10pt;
    font-family: inherit;
}

.axis path {
    fill: none;
    stroke: black;
}

.axis .tick {
    fill: none;
    stroke: black;
}


.grid path {
    fill: none;
}

.grid .tick {
    fill: none;
    stroke: black;
    stroke-opacity: 0.25;
}



figure.graph {
}

figure.graph figcaption {
    text-align: center;
    font-weight: bolder;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
}

figure.graph figcaption:hover {
    background: dimgray;
    color: white;
}

figure.graph figcaption select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


figure svg {
}

figure.temperaturetyper div.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

figure.temperaturetyper div.container div {
    margin: 0;
    float: left;
}

.temperaturetyper table, .temperaturetyper table tbody, .temperaturetyper table thead, .temperaturetyper table tr, .temperaturetyper table td, .temperaturetyper table th {
    display: block
}

.temperaturetyper table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.temperaturetyper table thead th { 
    height: 1em;
    line-height: 1.1;
                /*text-align: left;*/
}

.temperaturetyper table tbody {
    overflow-y: auto;
}

.temperaturetyper table thead {
                        /* fallback */
    width: 97%;
                        /* minus scroll bar width */
    width: calc(100% - 17px);
}


.temperaturetyper table tbody td, .temperaturetyper table thead th {
    width: 40%;
    float: left;
    border-right: 1px solid black;
}

